include ../mixins/sub-menu.pug
header.header 
    .container-fluid 
        .row.align-items-center
            .col-3 
                .inner-logo
                    a(href="/" class="d-flex text-decoration-none")
                        img(src=infoWeb.logo, alt="", srcset="" width="70px")
                        div(class="logo__text display-4 " style="color: #6e8fff" ) #{infoWeb.websiteName}
            
            .col-3 
                .inner-form 
                    form(action=`/search`, method="GET" class="form-group d-flex") 
                        input(type="text" class="form-control" name="keyword" placeholder="Search..." value=keyword)
                        button(type="submit" class="btn btn-primary") Tìm

            .col-6 
                .inner-menu 
                    ul.justify-content-between  
                        li 
                            a(href="/") Trang chủ
                        li.sub-menu  
                            a(href="/products") Sản phẩm
                            - const productPath = "products"
                            + sub-menu(layoutCategory, productPath)
                        li 
                            a(href="/cart") Giỏ hàng (#{(miniCart ? miniCart.totalQuantity : 0)}) 
                        if(user)
                            li 
                                a(href="/user/info") #{user.fullName}
                            li 
                                a(href="/user/logout") Đăng xuất 
                        else          
                            li 
                                a(href="/user/login") Đăng nhập
                            li 
                                a(href="/user/register") Đăng kí

                            //- ul 
                            //-     li 
                            //-         a(href="") muc 1 
                            //-         ul 
                            //-             li 
                            //-                 a(href="") 1.1 
                            //-                 ul 
                            //-                     li  
                            //-                         a(href="") 1.1.1
                            //-                         ul 
                            //-                             li 
                            //-                                 a(href="") 1.1.1.1  
                            //-             li 
                            //-                 a(href="") 1.2 
                            //-             li 
                            //-                 a(href="") 1.3 
                            //-     li 
                            //-         a(href="") muc 2 
                            //-     li 
                            //-         a(href="") muc 3 