extends ../../layouts/default.pug

block main 
    .container
        .product-header
            h1.page-title Danh sách sản phẩm

        .product-list
            each product in products
                .product-item
                    img.product-image(src=product.thumbnail alt=product.title)
                    
                    .product-details
                        h2.product-title #{product.title}
                        
                        .price-box
                            if product.discountPercentage > 0
                                span.new-price Giá mới: $#{product.priceNew.toFixed(2)}
                                span.old-price Giá cũ: $#{product.price.toFixed(2)}
                                span.new-label New!
                            else
                                span.current-price Giá: $#{product.price.toFixed(2)}
