extends ../../layouts/default.pug
include ../../mixins/alert-error.pug
include ../../mixins/alert-success.pug
include ../../mixins/select.pug


block main 
    if(role.permissions.includes("products-category_create"))
        +alert-error(5000)
        +alert-success(5000)

        h1(class="mb-4") Thêm mới danh mục

        form(
            action=`${prefixAdmin}/products-category/create`
            method="POST"
            enctype="multipart/form-data"
        ) 
            div(class="form-group")
                label(for="title") <strong>Danh mục</strong>
                input(
                    type="text"
                    name="title"
                    id="title"
                    class="form-control"
                    placeholder="Danh mục sản phẩm"
                    required
                )
            div(class="form-group")
                label(for="parent_id") <strong>Danh mục sản phẩm cha</strong>
                //- input(
                //-     type="text"
                //-     name="parent_id"
                //-     id="parent_id"
                //-     class="form-control"
                //-     placeholder="Danh mục sản phẩm cha"
                //- )
                select(class="form-control" name="parent_id" id="parent_id")
                    option(value="" selected ) -- Chọn danh mục cha -- 
                    if(records)
                        +select(records)                
            div(class="form-group")
                label(for="description")  <strong>Mô tả</strong>
                textarea(
                    name="description" 
                    rows="5"
                    class="form-control"
                    id="description"
                    placeholder="Mô tả sản phẩm"
                )
            div(
                class="form-group"
                upload-input
            )
                label(for="thumbnail") <strong>Ảnh</strong>
                input(
                    type="file"
                    name="thumbnail"
                    id="thumbnail"
                    class="form-control-file"
                    accept="image/*"
                    upload-input-image
                )
                img(
                    upload-input-preview 
                    src=""
                )
                span(
                    preview-hidden 
                    class="preview--button__hidden"
                ) X
            div(class="form-group")
                label(for="position") <strong>Vị trí</strong>
                input(
                    type="number"
                    name="position"
                    id="position"
                    class="form-control"
                    min=0
                    placeholder="Vị trí tự động tăng"
                )
            div(class="form-group form-check form-check-inline")    
                input(
                    type="radio"
                    name="status"
                    id="statusActive"
                    class="form-check-input"
                    value="active"
                    checked
                )
                label(for="active" class="form-check-label") <strong>Hoạt Động</strong>
            div(class="form-group form-check form-check-inline")    
                input(
                    type="radio"
                    name="status"
                    id="statusActive"
                    class="form-check-input"
                    value="inactive"
                )
                label(for="inactive" class="form-check-label") <strong>Dừng Hoạt Động</strong>
            div(class="form-group")
                button(
                    class="btn btn-primary"
                    type="submit"
                ) Tạo mới 

            script(src="/tinymce/tinymce.min.js")    
            script(src="/admin/js/tinymce-config.js")     
            script(src="/admin/js/script.js") 
    else 
        h1 Bạn không có quyền tạo danh mục sản phẩm 
                