extends ../../layouts/default.pug
include ../../mixins/alert-error.pug
include ../../mixins/alert-success.pug
include ../../mixins/select.pug


block main 

    +alert-error(5000)
    +alert-success(5000)

    h1(class="mb-4") Thêm mới danh mục

    form(
        action=`${prefixAdmin}/products-category/edit/${data.id}?_method=PATCH`
        method="POST"
        enctype="multipart/form-data"
    ) 
        div(class="form-group")
            label(for="title") <strong>Danh mục</strong>
            input(
                type="text"
                name="title"
                id="title"
                class="form-control"
                placeholder="Danh mục sản phẩm"
                value=data.title
                required
            )
        div(class="form-group")
            label(for="parent_id") <strong>Danh mục sản phẩm cha</strong>
            //- input(
            //-     type="text"
            //-     name="parent_id"
            //-     id="parent_id"
            //-     class="form-control"
            //-     placeholder="Danh mục sản phẩm cha"
            //- )
            select(class="form-control" name="parent_id" id="parent_id" option-selected)
                option(value="") -- Chọn danh mục cha -- 
                if(records)
                    +select(records, 1, data.parent_id)   
        div(class="form-group")
            label(for="description")  <strong>Mô tả</strong>
            textarea(
                name="description" 
                rows="5"
                class="form-control"
                id="description"
                placeholder="Mô tả sản phẩm"
                value=data.description
            ) #{data.description}
        div(
            class="form-group"
            upload-input
        )
            label(for="thumbnail") <strong>Ảnh</strong>
            input(
                type="file"
                name="thumbnail"
                id="thumbnail"
                class="form-control-file"
                accept="image/*"
                upload-input-image
            )
            img(
                upload-input-preview 
                src=data.thumbnail
            )
            span(
                preview-hidden
                class="preview--button__hidden"
            ) X
        div(class="form-group")
            label(for="position") <strong>Vị trí</strong>
            input(
                type="number"
                name="position"
                id="position"
                class="form-control"
                min=0
                placeholder="Vị trí tự động tăng"
                value=data.position
            )
        div(class="form-group form-check form-check-inline")    
            input(
                type="radio"
                name="status"
                id="statusActive"
                class="form-check-input"
                value="active"
                checked=(data.status == 'active' ? true : false)
            )
            label(for="active" class="form-check-label") <strong>Hoạt Động</strong>
        div(class="form-group form-check form-check-inline")    
            input(
                type="radio"
                name="status"
                id="statusActive"
                class="form-check-input"
                value="inactive"
                checked=(data.status == 'inactive' ? true : false)
            )
            label(for="inactive" class="form-check-label") <strong>Dừng Hoạt Động</strong>
        div(class="form-group")
            button(
                class="btn btn-primary"
                type="submit"
            ) Cập nhật
        script(src="/tinymce/tinymce.min.js")    
        script(src="/admin/js/tinymce-config.js")     
        script(src="/admin/js/script.js") 

             