extends ../../layouts/default.pug
include ../../mixins/statusFilter.pug
include ../../mixins/search.pug
include ../../mixins/change-multi.pug
include ../../mixins/alert-success.pug
include ../../mixins/alert-error.pug
include ../../mixins/sort.pug
include ../../mixins/select.pug
include ../../mixins/show-category.pug


block main 
    +alert-success(5000)
    +alert-error(5000)

    h1 Danh mục sản phẩm 

    .card.mb-3
        .card-header Bộ lọc và tìm kiếm
        .card-body
            .row 
                .col-6 
                    +status-filter(statusFilter)
                .col-6 
                    +search(keyword)

    .card.mb-3 
        .card-header Danh sách 
        .card-body 
            .row 
                .col-10 
                    +change-multi(`${prefixAdmin}/products-category/change-multi?_method=PATCH`)
                .col-2
                    a(
                        href=`${prefixAdmin}/products-category/create`
                        class="btn btn-outline-success"
                    ) + Thêm mới

    //- div(class="card mb-3")
    //-     div(class="card-header") Sắp xếp 
    //-     div(class="card-body")
    //-         +sort()
    table.table.table-hover.table-sm
        thead
            tr
                th 
                    input(type="checkbox", name="checkall")
                th STT
                th Hình ảnh
                th Tiêu đề
                th Vị trí
                th Trạng thái
                th Hành động
        tbody
            - let count = 0;
            +show-category(records, 1, "")
    form(
        action="" 
        method="post"
        id="form-delete-item"
        data-path=`${prefixAdmin}/products-category/delete`
    ) 
    script(src="/admin/js/products-category.js")                          