extends ../../layouts/default.pug
include ../../mixins/product-layout.pug
include ../../mixins/alert-error.pug
include ../../mixins/alert-success.pug

block main
    +alert-error(2000)
    +alert-success(2000)

    .container-fluid.my-4
        .row
            .col-md-8.offset-md-2
                .card.border-light.shadow
                    .card-header.bg-info.text-white
                        h3.page-title.text-center #{pageTitle}
                    .card-body
                        .row
                            .col-md-4.text-center
                                img(src=user.avatarUrl alt="Avatar", class="rounded-circle img-fluid profile-avatar")
                                h5.mt-2 #{user.fullName}
                                p.text-muted #{user.email}
                            form(action=`/user/info/${user.id}`, method="post").col-md-8
                                .info-section
                                    h5 Thông tin cá nhân
                                    .form-group
                                        label(for="fullName") Họ và tên
                                        input#fullName.form-control(type="text" name="fullName" value=user.fullName placeholder="Nhập họ và tên")
                                    .form-group
                                        label(for="email") Email
                                        input#email.form-control(type="email" name="email" value=user.email placeholder="Nhập email")
                                    .form-group
                                        label(for="status") Trạng thái: 
                                        b #{user.status == "active" ? " Hoạt động" : " Dừng hoạt động"}
                                .text-right.mt-4
                                    button.btn.btn-primary(type="submit") Lưu thay đổi

